body {
  background: #90B6C8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #90B6C8, #90B6C8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #90B6C8, #90B6C8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: arial;
  margin: 0px;
}

h1 {
  font-family: 'arial', cursive;
  font-size: 32px;
}

h2, h3, h4 {
  font-family: 'arial', cursive;
  font-size: 28px;
}

a, a:hover {
  text-decoration: none;
}

p, ul, ol {
  font-size: 20px;
}

.cadre {
  background: #00A5BA;
  border: 3px solid #C1E6B6;
  margin: 20px 100px;
  padding: 30px 70px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px grey;
}

.avatar {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 5px 5px 10px grey;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.color-green {
  color: #194276;
}

.btn-pink {
  display: inline-block;
  color: white;
  background: #E27277;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  font-weight: bold;
}

.btn-pink:hover {
  color: white;
  opacity: 0.8;
}


.logo {
  height: 60px;
  margin: 5px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #00A5BA;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.link {
  margin: 10px 30px;
  color: #194276;
}

.link:hover {
  color: #194276;
}


.line-transparent {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.line-light {
  height: 5px;
  width: 20%;
  background: #EE9CA7;
}

.line-medium {
  height: 5px;
  width: 30%;
  background: #C86472;
}

.line-hard {
  height: 5px;
  width: 50%;
  background: #9F3442;
}


.horizontal-position {
  display: flex;
  justify-content: space-between;
  margin: 20px 100px;
}

.cadre-preparartion {
  background: #00A5BA;
  border: 3px solid #C1E6B6;
  margin: 0px 0px 0px 10px;
  padding: 30px 70px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px grey;
}

.cadre-ingredients {
  background: #00A5BA;
  border: 3px solid #C1E6B6;
  margin: 0px 10px 0px 0px;
  padding: 30px 70px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px grey;
  width: 1000px;
}

.card-img-top {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.socials {
  font-size: 40px;
  color: green;
}